{{extend plantilla()}}
{{if len(infoAsignaciones) >0:}}
    <div class="row">
        {{ for asig in  infoAsignaciones :}}
            <div class="col-md-4">
                <div class="card card-widget widget-user-2 shadow-sm cursor">
                    <div class="widget-user-header bg-warning">
                        <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="{{=URL('static','template/dist/img/AdminLTELogo.png')}}" alt="User Avatar">
                        </div>
                        <h3 class="widget-user-username">{{=asig['nomAsignacion']}}</h3>
                        <h5 class="widget-user-desc">N° asignados: {{=asig['cantAsign']}}</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                        <li class="nav-item">
                            <span  class="nav-link">
                            Asignado <span class="float-right badge bg-primary">$ {{=asig['valAsignadoAs']}}</span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span  class="nav-link">
                            Gestionado <span class="float-right badge bg-info">$ 0</span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span  class="nav-link">
                            Efectivo <span class="float-right badge bg-success">$ 0</span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span  class="nav-link">
                            Rechazado <span class="float-right badge bg-danger">$ 0</span>
                            </span>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        {{ pass }}
    </div>
{{else:}}
    <p style='text-align:center;'>Sin Información de sus asignaciones <br><br> <a href="{{=URL('base','asignaciones')}}"class="btn btn-app bg-primary"><i class="fas fa-plus"></i> Crear</a></p>
{{pass}}
{{block page_js}}
    <script src="{{=URL('static','js/coordinador/dashboard.js')}}"></script>
{{end page_js}}